<html lang="it" xmlns="">
<head>
  <title>Pc Builder</title>
  <link rel="stylesheet" href="componenti.css">
  <title>barra</title>
</head>
<body>
<header>
  <div class="container">
    <h1 class="logo"></h1>
    <img src="/logo.png" alt="logo" class="logo">
    <nav>
      <ul>
        <li><a href="/sito/Home">Home</a></li>
        <li><a href="/sito/Registrazione">Sign in</a></li>
        <li><a href="/sito/Login">Log in</a></li>
        <li></li>
      </ul>
    </nav>
  </div>
</header>


<%

  $b= request.original_url
  require 'cgi'
  $url = CGI.parse($b)

  $nome=$url["http://127.0.0.1:3000/sito/Componenti?name"]
  $nome=$nome.first
  %>


<form method='GET' action='http://127.0.0.1:3000/sito/Home'  >
  <input type="hidden" name="nome" value="<%= $nome %>" >
  <div class="giallo">
    <select name="Processore" id="Processore">
      <option selected disabled>Processore</option>
      <% require 'sqlite3'
         db = SQLite3::Database.open('Data.db')
         db.results_as_hash = true
         $data = db.execute("SELECT * FROM Componenti WHERE Tipo='Processore'; ") %>
      <%  (0..$data.length-1).each do |a| %>
        <option value="<%= $data[a]["Nome"] -%>"><%= $data[a]["Nome"] -%></option>
        </tr>
      <% end %>
    </select>
    <p1></p1>
  </div>



  <div class="giallo2">
    <select name="Scheda video" id="Scheda video">
      <option selected disabled>Scheda video</option>
      <% require 'sqlite3'
      db = SQLite3::Database.open('Data.db')
      db.results_as_hash = true
      $data = db.execute("SELECT * FROM Componenti WHERE Tipo='Scheda video'; ") %>
      <%  (0..$data.length-1).each do |a| %>
        <option value="<%= $data[a]["Nome"] -%>"><%= $data[a]["Nome"] -%></option>
        </tr>
      <% end %>
    </select>
    <p1></p1>
  </div>

  <div class="giallo3">
    <select name="Ram" id="Ram">
      <option selected disabled>Ram</option>
      <% require 'sqlite3'
         db = SQLite3::Database.open('Data.db')
         db.results_as_hash = true
         $data = db.execute("SELECT * FROM Componenti WHERE Tipo='Ram'; ") %>
      <%  (0..$data.length-1).each do |a| %>
        <option value="<%= $data[a]["Nome"] -%>"><%= $data[a]["Nome"] -%></option>
        </tr>
      <% end %>
    </select>
    <p1></p1>
  </div>

  <div class="giallo4">
    <select name="Hdd" id="Hdd">
      <option selected disabled>Hdd</option>
      <% require 'sqlite3'
         db = SQLite3::Database.open('Data.db')
         db.results_as_hash = true
         $data = db.execute("SELECT * FROM Componenti WHERE Tipo='Hdd'; ") %>
      <%  (0..$data.length-1).each do |a| %>
        <option value="<%= $data[a]["Nome"] -%>"><%= $data[a]["Nome"] -%></option>
        </tr>
      <% end %>
    </select>
    <p1></p1>
  </div>

  <div class="giallo5">
    <select name="SSD" id="SSD">
      <option selected disabled>SSD</option>
      <% require 'sqlite3'
         db = SQLite3::Database.open('Data.db')
         db.results_as_hash = true
         $data = db.execute("SELECT * FROM Componenti WHERE Tipo='SSD'; ") %>
      <%  (0..$data.length-1).each do |a| %>
        <option value="<%= $data[a]["Nome"] -%>"><%= $data[a]["Nome"] -%></option>
        </tr>
      <% end %>
    </select>
    <p1></p1>
  </div>

  <div class="giallo6">
    <select name="Scheda madre" id="Scheda madre">
      <option selected disabled>Scheda madre</option>
      <% require 'sqlite3'
         db = SQLite3::Database.open('Data.db')
         db.results_as_hash = true
         $data = db.execute("SELECT * FROM Componenti WHERE Tipo='Scheda madre'; ") %>
      <%  (0..$data.length-1).each do |a| %>
        <option value="<%= $data[a]["Nome"] -%>"><%= $data[a]["Nome"] -%></option>
        </tr>
      <% end %>
    </select>
    <p1></p1>
  </div>



  <div class="tasto">

      <input type="submit"  name="log" id="log" v>
      <br>
  </div>
    </form>


<img src="/processore.jpg" alt="logo" class="pro">
<img src="/video.jpg" alt="logo" class="vid">
<img src="/ram.jpg" alt="logo" class="ram">
<img src="/hdd.png" alt="logo" class="hdd">
<img src="/ssd.jpg" alt="logo" class="ssd">
<img src="/scheda.jpg" alt="logo" class="sheda">

</body>
</html>
